/*CSS for GEOM101 Assignment 2*/
/*CSS modified from tutorials on http://w3schools.com*/
/*formatting for all text within the body*/
  body {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
  
/*header style*/
header {
  background-color: #385c41;
  padding: 50px;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 40px;
  color: white;
}
header a {
  color: white;
  text-decoration: none;
}

/*nav bar & links style*/
ul {
  list-style-type: none;
  background-color: rgb(197, 192, 185);
  padding:0;
  overflow: hidden;
  font-size: 16px;
}
li {
  float: left;
}
li a { 
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 12px 14px;
}

li a:hover {
  background-color: rgb(185, 181, 174);
}

/*section titles*/
section {
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  text-align: left;
  color: black;
}
h3{
  margin-bottom: 0;
}
/*About me image float*/
.img1 {
  float: right;
}

/*Image margins*/
img {
  margin: 5px
}
  
/*In paragraph links*/
a {
  color: black;
}
